#homePage {
  background-color: #4c6384;
}

/* ALL TEXT COLOR WAS #4c6384 AND CHANGED TO #33af56 BECAUSE OF SYTLING ISSUES WITH THE BACKGROUND */

@media screen and (min-width: 320px) {
  #homePage {
    background-color: yellow;
  }
}

@media screen and (min-width: 768px) {
  #homePage {
    background-color: red;
  }

}

@media screen and (min-width: 1280px) {
  #homePage {
    background-color: green;
  }

}

@media screen and (min-width: 1366px) {
  #homePage {
    background-color: orange;
  }
  #footer {
    font-size: 25px;
    padding: 15px;
  }
  #homeText1 {
    font-size: 105px;
    color: #33af56;
    position: absolute;
    left: 120px;
    top: 90px;
  }
  #homeText2 {
    font-size: 45px;
    color: #33af56;
    position: absolute;
    right: 120px;
    bottom: 50px;
  }
  #aboutText1 {
    font-size: 45px;
    color: #33af56;
    position: absolute;
    left: 120px;
    top: 100px;
  }
  #aboutTextItem1 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    left: 120px;
    bottom: 400px;
    width: 300px;
  }
  #aboutTextItem2 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    left: 140px;
    bottom: 130px;
    width: 160px;
  }
  #aboutTextItem3 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    left: 115px;
    top: 370px;
  }
  #aboutTextItem4 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 140px;
    bottom: 400px;
    width: 400px;
  }
  #aboutTextItem5 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 140px;
    bottom: -120px;
  }
  #aboutTextItem6 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 200px;
    bottom: 325px;
  }
  #aboutTextItem7 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 140px;
    bottom: 100px;
    width: 500px;
  }
  #aboutTextItem8 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 120px;
    bottom: 240px;
  }

  #contactText1 {
    font-size: 50px;
    color: #33af56;
    position: absolute;
    left: 160px;
    top: 105px;
  }
  #contactText2 {
    font-size: 50px;
    color: #33af56;
    position: absolute;
    right: 200px;
    top: 155px;
  }
  #contactLink1 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 530px;
    top: 315px;
  }
  #contactLink2 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 450px;
    top: 500px;
  }
  #contactLink3 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 230px;
    top: 390px;
  }
  #contactLink4 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 200px;
    top: 600px;
  }
}




/* COMPLETE */

@media screen and (min-width: 1440px) {
  #homePage {
    background-color: blue;
  }
  #footer {
    font-size: 25px;
    padding: 15px;
  }
  #homeText1 {
    font-size: 105px;
    color: #33af56;
    position: absolute;
    left: 150px;
    top: 90px;
  }
  #homeText2 {
    font-size: 45px;
    color: #33af56;
    position: absolute;
    right: 150px;
    bottom: 50px;
  }
  #aboutText1 {
    font-size: 45px;
    color: #33af56;
    position: absolute;
    left: 145px;
    top: 95px;
  }
  #aboutTextItem1 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    left: 150px;
    bottom: 480px;
    width: 300px;
  }
  #aboutTextItem2 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    left: 170px;
    bottom: 210px;
    width: 160px;
  }
  #aboutTextItem3 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    left: 145px;
    top: 370px;
  }
  #aboutTextItem4 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 200px;
    bottom: 490px;
    width: 400px;
  }
  #aboutTextItem5 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 160px;
    bottom: -40px;
  }
  #aboutTextItem6 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 250px;
    bottom: 400px;
  }
  #aboutTextItem7 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 180px;
    bottom: 180px;
    width: 500px;
  }
  #aboutTextItem8 {
    font-size: 30px;
    color: #33af56;
    position: absolute;
    right: 150px;
    bottom: 320px;
  }
  #contactText1 {
    font-size: 50px;
    color: #33af56;
    position: absolute;
    left: 160px;
    top: 105px;
  }
  #contactText2 {
    font-size: 50px;
    color: #33af56;
    position: absolute;
    right: 200px;
    top: 155px;
  }
  #contactLink1 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 530px;
    top: 315px;
  }
  #contactLink2 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 450px;
    top: 500px;
  }
  #contactLink3 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 230px;
    top: 390px;
  }
  #contactLink4 {
    font-size: 40px;
    color: #33af56;
    position: absolute;
    right: 200px;
    top: 600px;
  }
}

/* COMPLETE */




@media screen and (min-width: 1600px) {
  #homePage {
    background-color: pink;
  }

}

@media screen and (min-width: 1920px) {
  #homePage {
    background-color: purple;
  }

}

/*
#footer {
  font-size: 25px;
  padding: 15px;
}

#homeText1 {
  font-size: 105px;
  color: #33af56;
  position: absolute;
  left: 90px;
  top: 77px;
}

#homeText2 {
  font-size: 45px;
  color: #33af56;
  position: absolute;
  right: 80px;
  bottom: 50px;
}

#aboutText1 {
  font-size: 45px;
  color: #33af56;
  position: absolute;
  left: 90px;
  top: 95px;
}





#aboutTextItem1 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  left: 100px;
  bottom: 450px;
  width: 300px;
}
#aboutTextItem2 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  left: 100px;
  bottom: 190px;
  width: 160px;
}
#aboutTextItem3 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  left: 75px;
  top: 330px;
}
#aboutTextItem4 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  right: 80px;
  bottom: 450px;
  width: 400px;
}
#aboutTextItem5 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  right: 80px;
  bottom: 100px;
}
#aboutTextItem6 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  right: 180px;
  bottom: 380px;
}
#aboutTextItem7 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  right: 130px;
  bottom: 180px;
  width: 500px;
}
#aboutTextItem8 {
  font-size: 30px;
  color: #33af56;
  position: absolute;
  right: 100px;
  bottom: 300px;
}

#contactText1 {
  font-size: 45px;
  color: #33af56;
  position: absolute;
  left: 110px;
  top: 105px;
}

#contactText2 {
  font-size: 45px;
  color: #33af56;
  position: absolute;
  right: 130px;
  top: 115px;
}

#contactLink1 {
  font-size: 40px;
  color: #33af56;
  position: absolute;
  right: 480px;
  top: 265px;
}
#contactLink2 {
  font-size: 40px;
  color: #33af56;
  position: absolute;
  right: 400px;
  top: 450px;
}
#contactLink3 {
  font-size: 40px;
  color: #33af56;
  position: absolute;
  right: 180px;
  top: 340px;
}
#contactLink4 {
  font-size: 40px;
  color: #33af56;
  position: absolute;
  right: 150px;
  top: 550px;
} */
